@tailwind base;
@tailwind components;
@tailwind utilities;

.itinerary-scrollbar::-webkit-scrollbar {
  width: 6px; 
}

.itinerary-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.itinerary-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.itinerary-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}
